<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dorohedoro.mapper.RoleMapper">

    <resultMap id="baseResultMap" type="role">
        <id column="role_id" jdbcType="BIGINT" property="id" />
        <result column="role_name" jdbcType="VARCHAR" property="roleName" />
        <result column="role_display_name" jdbcType="VARCHAR" property="displayName" />
        <result column="built_in" jdbcType="TINYINT" property="builtIn" />
        <collection property="permissions" ofType="permission">
            <id column="permission_id" jdbcType="BIGINT" property="id" />
            <result column="permission_name" jdbcType="VARCHAR" property="authority" />
            <result column="permission_display_name" jdbcType="VARCHAR" property="displayName" />
        </collection>
    </resultMap>
    
    <select id="selectByRolename" resultMap="baseResultMap">
        select r.id as role_id, role_name, r.display_name as role_display_name, r.built_in,
               p.id as permission_id, permission_name, p.display_name as permission_display_name
        from roles as r
        <!--保留未分配权限的角色-->    
        left join roles_permissions as rp on r.id = rp.role_id
        left join permissions as p on rp.permission_id = p.id
        <trim prefix="where" prefixOverrides="and">
            <if test="rolename != null and rolename != ''">
                role_name = #{rolename}
            </if>
        </trim>
    </select>
</mapper>
