<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dorohedoro.mapper.UserMapper">

    <resultMap id="baseResultMap" type="user">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="password_hash" jdbcType="VARCHAR" property="password" />
        <result column="mobile" jdbcType="VARCHAR" property="mobile" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="enabled" jdbcType="TINYINT" property="enabled" />
        <result column="account_non_expired" jdbcType="TINYINT" property="accountNonExpired" />
        <result column="account_non_locked" jdbcType="TINYINT" property="accountNonLocked" />
        <result column="credentials_non_expired" jdbcType="TINYINT" property="credentialsNonExpired" />
    </resultMap>
    
    <select id="selectByUsername" resultMap="baseResultMap">
        select id, username, password_hash, mobile, email, enabled, account_non_expired, account_non_locked, credentials_non_expired from users where username = #{username}
    </select>
</mapper>
